.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 160px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav__user {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.nav__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.nav__link {
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: black;
    transition: background-color 0.7s ease, color 0.7s ease-out;
    align-content: center;
    justify-content: center;
    text-align: center;
    height:100%;
    width: 120px;
    margin: 6px;

    &:hover {
        background-color: ghostwhite;
        color: black;
    }
}

.portrait__user {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px #ffffff;
}